/* 全局基础样式重置 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(203, 203, 203);
  border-radius: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
